<style>
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Bree+Serif&family=Dongle:wght@700&display=swap');
</style>
<div class="header">

  <div style="padding-top: 100px; width: 100%" class="text-center row">
    <div class="col-md-4">

    </div>
   <div class="col-md-3 pt-5">
     <mat-icon style="color: white; float: right; font-size: 40px; color: orange"
     class="cursor">control_point</mat-icon>
     <h1 style="color: #F9F9F9;font-family: 'Dongle', sans-serif;
font-size: 60px;" class="pt-2">Cover Photo Here</h1>
   </div>


  </div>

 <div class="container pb-5">
   <div class="card" style="width: 100%; height: 200px; background-color:#F9F9F9; position: inherit ">
     <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <img src="../../../../../assets/images/up.png" width="100%" alt="">
          </div>
          <div class="col-md-4">
           <div class="pt-4">

             <h3 style="font-size: large;font-weight: bold">Himal Rai <mat-icon style="float: right; padding-right: 320px; color: #3F51B5">verified_user</mat-icon><br>

             <p style="font-weight: initial">Software Developer - SB Solutions pvt.ltd
               <br><h4 class="text-black-50">Bhojpur, Nepal</h4></p>
               </h3>
                <button style="background-color: orange; border: none;
font-weight: lighter" class="btn btn-success btn-sm">Add Profile Section</button>
             <button style="font-weight: lighter;border: none;
margin-left: 10px; background-color: #3F51B5" class="btn btn-secondary btn-sm" (click)="uploadCv()">More...</button>
             <button style="font-weight: lighter;border: none;
margin-left: 10px; background-color: #007AFF" class="btn btn-success btn-sm cv" (click)="downloadAsPDF()">Download CV &nbsp; <span class="fa fa-download"></span></button>



<!--               <mat-icon style="float: right; padding-right: 150px">remove_red_eye</mat-icon>-->


           </div>
          </div>
          <div class="col-md-4 pt-4">
            <ul style="list-style: none">
              <li>

                <span class="text-black-50" style="font-weight: lighter"> <span class="fa fa-university"></span>
                  &nbsp;&nbsp;<span style="font-weight: initial !important;">Education</span> :
                  Tribhuwan University, Nepal</span>

              </li>
              <li class="text-black-50 pt-2">
                <span class="fa fa-mail-bulk"></span>
                &nbsp;
                bantawaheem35@gmail.com
              </li>
              <li class="text-black-50 pt-2">
                <span class="fa fa-phone"></span>
                &nbsp;
               9816*******
              </li>
              <li class="pt-2 rating">
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star_half</mat-icon>
                <mat-icon>star_border</mat-icon>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <mat-icon style="float: right; padding-top: 140px; color: blue">edit</mat-icon>
          </div>
        </div>
     </div>
   </div>
 </div>

  <div class="container">
    <div class="card">
      <div class="card-body" style="background-color: #F9F9F9; height: 500px">
          <div class="row">
            <div class="col-md-4 card pro-div">
              <div class="card-body"  style="height: 300px;">
               <div class="row">
                 <div class="col-md-10">
                   <h2 style="font-weight: initial">Experience</h2>

                 </div>
                 <div class="col-md-1">
                   <mat-icon style="float: right; color: #5E5E5E">add</mat-icon>
                 </div>
                 <div class="col-md-1">
                   <mat-icon style="float: right; color: #5E5E5E">edit</mat-icon>
                 </div>
                 <h3>Software Developer <br>
                 <h4 class="text-black-50">Sb Solutions Pvt.Ltd : Full-time, Kathmandu <br>
                 <h5>Apr 2021 - Present : 11 Months</h5></h4></h3>
                 <hr>
                 <h3>Backend Developer <br>
                   <h4 class="text-black-50">HD Pvt.Ltd : Full-time, Bhojpur <br>
                     <h5>Apr 2021 - Present : 11 Months</h5></h4></h3>
                 <hr>


               </div>
              </div>
            </div>
            <div class="col-md-4 card pro-div">
              <div class="card-body"  style="height: 300px;">

              </div>
            </div>
            <div class="col-md-4 card"style="background-color: #F9F9F9;
            border: none">

            </div>


          </div>
      </div>
    </div>

  </div>

</div>

<div id="pdfTable" class="hidden" #pdfTable style="padding-top: 800px">

  <div>
    <div class="row">
      <div class="col-md-3" style="border: groove; height: 100px; width: 100px; border-color: black;
margin-left: 125px; text-align: center">
        <h5 style="padding-top: 50px">User Photo</h5>
      </div>
      <div class="col-md-6">
        <span>Name : Himal <br> bantwaheem35@gmail.com <br> Software Developer
        <br>Sb Solutions Pvt.Ltd <br>
        98732****</span>
      </div>
    </div>

  </div>
    <div class="container pt-2">
     <table class="table table-striped table-bordered">
       <thead>
       <tr>
         <th>Name</th>
         <th>Address</th>
          <th>Email</th>
         <th>Phone</th>
       </tr>
       </thead>
       <tbody>
       <tr><td>
         Himal
       </td>
       <td>
         Bhojpur, nepal
       </td> <td>jahs@gmail.com</td> <td>98878****</td></tr>
       <tr><td>
         Himal
       </td>
         <td>
           Bhojpur, nepal
         </td> <td>jahs@gmail.com</td> <td>98878****</td></tr>
       <tr><td>
         Himal
       </td>
         <td>
           Bhojpur, nepal
         </td> <td>jahs@gmail.com</td> <td>98878****</td></tr>
       </tbody>
     </table>
    </div>
  </div>

<!--<button (click)="downloadAsPDF()">Save CV</button>-->


