$pad: 2px;

.header{
  //background-image: url("../../../../../assets/images/impress.jpg");
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #000000;
}


.cursor{
  cursor: pointer;
}

.rating mat-icon{
  color: orange;
}

.pro-div{
  background-color: #F9F9F9;
  border-top: none; border-bottom: none; border-left: none
}

.fa{
  color: #3F51B5;
  cursor: pointer;
}

.cv{
  .fa{
    color: white !important;
  }
}

.hidden{
  display: none;
}
