<style>
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Bree+Serif&family=Dongle:wght@700&display=swap');
</style>
<div class="header">

  <div style="padding-top: 100px; width: 100%" class="text-center row">
    <div class="col-md-4">

    </div>
   <div class="col-md-3 pt-5">
     <mat-icon style="color: white; float: right; font-size: 40px; color: orange"
     class="cursor">control_point</mat-icon>
     <h1 style="color: #F9F9F9;font-family: 'Dongle', sans-serif;
font-size: 60px;" class="pt-2">Cover Photo Here</h1>
   </div>


  </div>

 <div class="container pb-5">
   <div class="card" style="width: 100%; height: 200px; background-color:#F9F9F9 ">
     <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <img src="../../../../../assets/images/up.png" width="100%" alt="">
          </div>
          <div class="col-md-4">
           <div class="pt-4">

             <h3 style="font-size: large;font-weight: bold">Himal Rai <mat-icon style="float: right; padding-right: 320px; color: #3F51B5">verified_user</mat-icon><br>

             <p style="font-weight: initial">Software Developer - SB Solutions pvt.ltd
               <br><h4 class="text-black-50">Bhojpur, Nepal</h4></p>
               </h3>
                <button style="background-color: orange; border: none;
font-weight: lighter" class="btn btn-success btn-sm">Add Profile Section</button>
             <button style="font-weight: lighter;border: none;
margin-left: 10px; background-color: #3F51B5" class="btn btn-secondary btn-sm">More....</button>

           </div>
          </div>
          <div class="col-md-4 pt-4">
            <ul style="list-style: none">
              <li>

                <span class="text-black-50" style="font-weight: lighter"><span style="font-weight: initial !important;">University</span> :
                  Tribhuwan University, Nepal</span>

              </li>
              <li class="text-black-50 pt-2">
                Bantawaheem35@gmail.com
              </li>
              <li class="text-black-50">
               <h3>9816*******</h3>
              </li>
              <li class="pt-2 rating">
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star_half</mat-icon>
                <mat-icon>star_border</mat-icon>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <mat-icon style="float: right; padding-top: 140px; color: blue">edit</mat-icon>
          </div>
        </div>
     </div>
   </div>
 </div>

</div>
