


.header{
  background-image: url("../../../assets/images/Careers.jpg");
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;

}



.cursor{
  cursor: pointer;
}

input{
  height: 60px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #EFFAF8;
}

.headerTitle{

}
