<div class="container">
<!--  <table class="table table-striped table-hover">-->
<!--    <thead>-->
<!--    <tr><th>Id</th>-->
<!--    <th>Content</th>-->
<!--    <th>title</th>-->
<!--    <th>Action</th></tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr  *ngFor="let data of dummyData">-->
<!--      <td>{{data?.id}}</td>-->
<!--      <td>{{data?.body.substring(0,60).concat('.....')}}</td>-->
<!--      <td>{{data?.title}}</td>-->
<!--      <td><mat-icon style="cursor: pointer">edit</mat-icon>-->
<!--        <mat-icon style="cursor: pointer" (click)="deleteData(data?.id)">delete_forever</mat-icon></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->

</div>
