

<div class="header" id="pdfTable" #pdfTable>

  <div class="text-center coverPageContent">
    <h1 class="headerTitle">Career Choices in <br> Building Components Manufacturing</h1>


  </div>
  <div class="container searchBarContainer">
    <div class="card" style="border: none;position: inherit">
      <div class="searchBarComponent" class="card-body">

        <div class="row">
          <div class="col-md-5">
            <input type="text" class="form-control"  placeholder="Search by skills, company & job title....">
          </div>
          <div class="col-md-6">
            <input placeholder="Enter Locations...." type="text" class="form-control">
          </div>
         <div class="col-md-1 cursor" (click)="showSearchResult()">
           <mat-icon>search</mat-icon>
         </div>
        </div>

      </div>
    </div>
  </div>
  <app-search-result-page (homeEvent)="changeEvent($event)" *ngIf="showSearchPage"></app-search-result-page>
  <app-employee-landing-page (vacancyDetail)="detailPage($event)" *ngIf="showLandingPage"></app-employee-landing-page>
  <app-vacancy-detail *ngIf="showVacancyDetail"></app-vacancy-detail>


<app-footer></app-footer>

</div>






