#footer .copyright {
  text-align: center;
  padding-top: 30px;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
}
#footer .credits a {
  transition: 0.3s;
  font-weight: 600;
}
#footer .credits a:hover {
  color: #ed7d2b;
}
