.cursor{
  cursor: pointer;
}
.carousel-indicators {
  button[type="button"] {
    width: 15px !important;
    border-radius: 50% !important;
    height: 15px !important;
  }
  button.active {
    background-color: #d9232d !important;
  }
}
.carousel-inner {
  .carousel-item {
    img {
      height: 310px !important;
    }
  }
}
