<div class="container text-center pt-3">
  <h1 style="font-family: 'Dongle', sans-serif;
font-size: 50px">Popular Searches</h1>
  <h3 class="text-black-50" style="font-weight: normal">
    The jobline specializes in matching industry Professionals with Employers in the Engineered <br>
    Wood Products, Truss, Wall Panel, and off-site construction industries.</h3>
  <div class="row">
    <div class="col-md-3">
      <button style="width: 100%; background-color: #B6C5C2; border: none; height: 50px" type="button"
              class="btn btn-primary text-black-50">
        Wood Products <span class="badge bg-secondary">58</span>
      </button>
    </div>
    <div class="col-md-3">
      <button style="width: 100%; background-color: #B6C5C2; border: none; height: 50px" type="button"
              class="btn btn-primary text-black-50">
        Truss <span class="badge bg-secondary">20</span>
      </button>
    </div>
    <div class="col-md-3">
      <button style="width: 100%; background-color: #B6C5C2; border: none; height: 50px" type="button"
              class="btn btn-primary text-black-50">
        Wall Panel <span class="badge bg-secondary">9</span>
      </button>
    </div>
    <div class="col-md-3">
      <button style="width: 100%; background-color: #B6C5C2; border: none; height: 50px" type="button"
              class="btn btn-primary text-black-50">
        off-site construction <span class="badge bg-secondary">5</span>
      </button>
    </div>


  </div>


</div>
<div class="container pt-4">
  <div class="row">
    <div class="col-md-2">
      <mat-icon style="font-size: 50px !important; color: red !important;">whatshot</mat-icon>
      <h1 style="float: right;font-family: 'Dongle', sans-serif;
font-size: 55px;" class="pt-3">Hot Jobs</h1>
    </div>
    <div class="col-md-10 pt-3">
      <p style="float: right; font-weight: bold; font-size: medium;color: orange">View All >></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3" *ngFor="let data of dummyJsonData">
      <div class="card cursor" (click)="showDetail(true)">
        <div class="card-body">
          <p [style.color]="data.type==='HOT'? 'red' : 'green'" style="float: right">{{data.type}}</p>
          <h5 class="card-title" style="font-size: large"><b>{{data.vacancyTitle}}</b></h5>
          <h5 style="float: right">EXP- <b>{{data.experienceYear}} YRS</b></h5>
          <h5 class="card-title text-black-50" style="font-size: small; font-weight: lighter">
            <b>{{data.id}}- {{data.vacancyPost}}</b></h5>
          <hr>
          <p class="card-text text-black-50">
            {{data.vacancyDetail}}</p>

          <div class="row">
            <div class="col-md-5">
              <h3 style="color: orange; font-weight: inherit; font-size: medium">Apply Now
              </h3>
            </div>
            <div class="col-md-1"></div>
            <mat-icon style="float: right; color: orange">arrow_forward</mat-icon>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
