
<p>
  <mat-toolbar color="primary">
<!--    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--      <mat-icon >menu</mat-icon>-->
<!--    </button>-->
    <img src="../../../../assets/images/faicon.png" height="60" width="70" alt="">
    <span class="example-spacer"></span>
    <button (click)="signInPage()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <b>Sign In</b>
    </button>
  </mat-toolbar>
</p>

