<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button (click)="openToogleHeader()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="openSecHeader">
<div class="input-group mb-3">
  <input type="text" class="form-control form-control-lg" placeholder="Search Here">
  <button type="submit" class="input-group-text btn-success"><i class="bi bi-search me-2"></i> Search</button>
</div>
    </mat-toolbar-row>
  </mat-toolbar>
</p>

