<div class="container" style="position: inherit">
  <h4 class="pt-3 "><span  class="cursor" style="font-weight: lighter">Home</span> /
    <span  class="cursor" style="font-weight: lighter">Job Search</span> /
    <span class="text-black-50 cursor" style="font-size: medium">Web Developer</span></h4>

  <div>
    <div class="card" style="width: 100%;" style="position: inherit">
      <div class="container">
        <div class="card-body container">
          <h2 style="font-weight: bold" class="card-title">Web Developer - Mid Level</h2>
          <div class="row text-black-50">
            <div class="col-md-3">
              <h3 style="float: right">EXP - <b>2 YRS</b></h3>
              <h3>7LO1T - Kathmandu, Nepal</h3>
            </div>
           <div class="col-md-3">
             <h3>Salary: <b>30000-45000</b></h3>
           </div>
          </div>

          <hr>
          <h3 style="font-weight: initial" class="card-title">Job Description</h3>
            <div class="text-black-50">
              <p>Vivamus suscipit tortor eget felis porttitor volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada. Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit.
                Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit
                tortor eget felis porttitor volutpat. Donec sollicitudin molestie malesuada
                Vivamus suscipit tortor eget felis porttitor volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada. Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit.

                Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat. Donec sollicitudin molestie malesuada !</p>
            </div>

          <h3 class="text-black-50" style="font-weight: bold">Skills required:</h3>

          <div class="text-black-50">
            <ul>
              <li>Computer Programming and Coding</li>
              <li>Software Development</li>
              <li>Object-Oriented Design (OOD)</li>
              <li>Software Testing and Debugging</li>
              <li>Problem Solving and Logical Thinking</li>
              <li>Teamwork</li>
              <li>Written and Verbal Communication</li>
            </ul>
          </div>

          <div class="text-black-50">
            <p>
              Software developers are required to work 37 to 40 hours a week.
              opportunity to work from home if they are self-employed, they will be asked to stay longer
              if certain projects need to be completed and asked to work on weekends and out of their
              required hours. Most software developers work from an office but travelling may be permitted
              to visit clients and fulfil contracts. Visiting clients does mean that you will be out of the office and working on their premises if their issue cannot be fixed from in-house. Technology has given software developers the
              opportunity to work from home if they are self-employed, or if their employers allow it.
            </p>
          </div>


          <div style="width: 100%; height: auto; background-color: #F2F2F3">
            <h3 class="pt-2" style="padding-left: 25px">Highlights:</h3>
            <ul>
              <li style="padding-top: 0px !important;">Computer Programming and Coding</li>
              <li>required hours. Most software developers work from an office</li>
              <li>opportunity to work from home if they are self-employed</li>
              <li>opportunity to work from home if they are self-employed</li>
              <li>Software developers are required to work 37 to 40 hours a week</li>
            </ul>
          </div>

        </div>
        <div style="color: orange" class="cursor">
          <mat-icon style="float: right; color: orange">arrow_forward</mat-icon>

          <h3 style="float: right">Apply Now</h3>

        </div>
      </div>

    </div>

  </div>

</div>
